@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  color: #fff;
  background: linear-gradient(to bottom, #BCA0A0, #242424b0, #242424);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input[type=range] {
  margin: 0 10px;
  height: 6px;
  border-radius: 100px;
  background: #fff;
  appearance: none;
  width: 560px;
  outline: none;
}

#volume-range {
  width: 200px;
}

input[type=range]::-moz-range-thumb {
  background: #22C55E;
  border: none;
}